<a href="https://colab.research.google.com/github/nsharmin71/Weather_project/blob/main/Weather_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# New Section

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
%config InlineBackend.figue_format = 'retina'
import warnings
warnings.filterwarnings("ignore")

In [4]:
from scipy import stats
from scipy.stats import norm, skew
from sklearn.preprocessing import RobustScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

In [91]:
#Below code shows all the file in my fiule directory
!tar cvfz zipname.tar.gz *

sample_data/
sample_data/anscombe.json
sample_data/README.md
sample_data/mnist_train_small.csv
sample_data/mnist_test.csv
sample_data/california_housing_test.csv
sample_data/california_housing_train.csv
weather_corrected_with_date.csv
weather_dataset_stage1 copy.xls
zipname.tar.gz
tar: zipname.tar.gz: file changed as we read it

In [24]:
weather = pd.read_excel("weather_dataset_stage1 copy.xls")
# iterating the columns
for col in weather.columns:
    print(col)

Date
 Temperature
 Average humidity (%
 Average dewpoint (°F
 Average barometer (in
 Average windspeed (mph
 Average gustspeed (mph
 Average direction (°deg
 Rainfall for month (in
Rainfall for year (in
 Maximum rain per minute
 Maximum temperature (°F
 Minimum temperature (°F
 Maximum humidity (%
 Minimum humidity (%
 Maximum pressure
 Minimum pressure
 Maximum windspeed (mph
 Maximum gust speed (mph
 Maximum heat index (°F
Date1
 Month
 diff_pressure

In [25]:
weather

,Date,Temperature,Average humidity (%,Average dewpoint (°F,Average barometer (in,Average windspeed (mph,Average gustspeed (mph,Average direction (°deg,Rainfall for month (in,Rainfall for year (in,...,Maximum humidity (%,Minimum humidity (%,Maximum pressure,Minimum pressure,Maximum windspeed (mph,Maximum gust speed (mph,Maximum heat index (°F,Date1,Month,diff_pressure
0,2022-01-01,'37.8','35.0','12.7','29.7','26.4','36.8','274.0','0.0','0.0',...,'4.0','27.0','29.762','29.596','41.4','59.0','40.0','2022-01-01','01','0.16600000000000037'
1,2022-01-02','43.2','32.0','14.7','29.5','12.8','18.0','240.0','0.0','0.0',...,'4.0','16.0','29.669','29.268','35.7','51.0','52.0','2022-01-02','01','0.4009999999999998'
2,2022-01-03','25.7','60.0','12.7','29.7','8.3','12.2','290.0','0.0','0.0',...,'8.0','35.0','30.232','29.26','25.3','38.0','41.0','2022-01-03','01','0.9719999999999978'
3,2022-01-04','9.3','67.0','0.1','30.4','2.9','4.5','47.0','0.0','0.0',...,'7.0','35.0','30.566','30.227','12.7','20.0','32.0','2022-01-04','01','0.33899999999999864'
4,2022-01-05','23.5','30.0','-5.3','29.9','16.7','23.1','265.0','0.0','0.0',...,'5.0','13.0','30.233','29.568','38.0','53.0','32.0','2022-01-05','01','0.6649999999999991'
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3898,2022-07-25','62.8','60.0','48.1','29.7','2.5','4.0','242.0','0.33','4.47',...,'90.0','36.0','29.781','29.645','8.1','17.3','77.5','2022-07-25','07','0.13599999999999923'
3899,2022-07-26','60.6','68.0','48.9','29.8','1.7','2.9','357.0','0.33','4.47',...,'90.0','40.0','29.93','29.745','11.5','15.0','77.5','2022-07-26','07','0.18499999999999872'
3900,2022-07-27','61.7','64.0','47.4','29.9','2.2','4.0','66.0','0.33','4.47',...,'96.0','35.0','29.941','29.781','13.8','18.4','78.2','2022-07-27','07','0.16000000000000014'
3901,2022-07-28','60.5','61.0','45.3','29.7','4.0','6.2','248.0','0.35','4.49',...,'94.0','35.0','29.792','29.675','17.3','26.5','77.6','2022-07-28','07','0.11700000000000088';
3902,2022-07-28','60.5','61.0','45.3','29.7','4.0','6.2','248.0','0.35','4.49',...,'94.0','35.0','29.792','29.675','17.3','26.5','77.6','2022-07-28','07','0.11700000000000088';

In [26]:

# Split Date on "'"
weather[['Date-split-0-3ai4', 'Date-split-1-3ai4']] = weather['Date'].str.split("'", n=-1, expand=True)
weather = weather[weather.columns[:1].tolist() + ['Date-split-0-3ai4', 'Date-split-1-3ai4'] + weather.columns[1:-2].tolist()]

In [27]:
# Deleted columns Date
weather.drop(['Date'], axis=1, inplace=True)

In [28]:
# Deleted columns Date-split-1-3ai4
weather.drop(['Date-split-1-3ai4'], axis=1, inplace=True)

In [29]:
# Renamed columns date
weather.rename(columns={'Date-split-0-3ai4': 'date'}, inplace=True)

In [30]:
# Split  Temperature on "'"
weather[[' Temperature-split-0-f4as', ' Temperature-split-1-f4as', ' Temperature-split-2-f4as']] = weather[' Temperature'].str.split("'", n=-1, expand=True)
weather = weather[weather.columns[:1].tolist() + [' Temperature-split-0-f4as', ' Temperature-split-1-f4as', ' Temperature-split-2-f4as'] + weather.columns[1:-3].tolist()]

In [31]:
# Deleted columns  Temperature
weather.drop([' Temperature'], axis=1, inplace=True)

In [32]:
# Deleted columns  Temperature-split-0-f4as
weather.drop([' Temperature-split-0-f4as'], axis=1, inplace=True)

In [33]:
# Deleted columns  Temperature-split-2-f4as
weather.drop([' Temperature-split-2-f4as'], axis=1, inplace=True)

In [34]:
# Renamed columns temperature
weather.rename(columns={' Temperature-split-1-f4as': 'temperature'}, inplace=True)

In [35]:
# Split  Average humidity (% on "'"
weather[[' Average humidity (%-split-0-wssf', ' Average humidity (%-split-1-wssf', ' Average humidity (%-split-2-wssf']] = weather[' Average humidity (%'].str.split("'", n=-1, expand=True)
weather = weather[weather.columns[:1].tolist() + [' Average humidity (%-split-0-wssf', ' Average humidity (%-split-1-wssf', ' Average humidity (%-split-2-wssf'] + weather.columns[1:-3].tolist()]

In [36]:
# Deleted columns  Average humidity (%
weather.drop([' Average humidity (%'], axis=1, inplace=True)

# Deleted columns  Average humidity (%-split-0-wssf
weather.drop([' Average humidity (%-split-0-wssf'], axis=1, inplace=True)

# Deleted columns  Average humidity (%-split-2-wssf
weather.drop([' Average humidity (%-split-2-wssf'], axis=1, inplace=True)

In [38]:

# Renamed columns avg_humidity_pct
weather.rename(columns={' Average humidity (%-split-1-wssf': 'avg_humidity_pct'}, inplace=True)

# Split  Average dewpoint (°F on ",", "'"
weather[[' Average dewpoint (°F-split-0-4oq3', ' Average dewpoint (°F-split-1-4oq3', ' Average dewpoint (°F-split-2-4oq3']] = weather[' Average dewpoint (°F'].str.split(",|'", n=-1, expand=True)
weather = weather[weather.columns[:1].tolist() + [' Average dewpoint (°F-split-0-4oq3', ' Average dewpoint (°F-split-1-4oq3', ' Average dewpoint (°F-split-2-4oq3'] + weather.columns[1:-3].tolist()]

In [46]:
#Renamed columns avg_humidity_pct
weather.rename(columns={' Average humidity (%-split-1-wssf': 'avg_humidity_pct'}, inplace=True)

In [47]:
# Changed  Average humidity (%-split-1-wssf to dtype float
weather['avg_humidity_pct'] = weather['avg_humidity_pct'].astype(float)

In [50]:

# Split  Average barometer (in on "'"
weather[[' Average barometer (in-split-0-vbfv', ' Average barometer (in-split-1-vbfv', ' Average barometer (in-split-2-vbfv']] = weather[' Average barometer (in'].str.split("'", n=-1, expand=True)
weather = weather[weather.columns[:2].tolist() + [' Average barometer (in-split-0-vbfv', ' Average barometer (in-split-1-vbfv', ' Average barometer (in-split-2-vbfv'] + weather.columns[2:-3].tolist()]

# Split  Average windspeed (mph on "'"
weather[[' Average windspeed (mph-split-0-usb6', ' Average windspeed (mph-split-1-usb6', ' Average windspeed (mph-split-2-usb6']] = weather[' Average windspeed (mph'].str.split("'", n=-1, expand=True)
weather = weather[weather.columns[:3].tolist() + [' Average windspeed (mph-split-0-usb6', ' Average windspeed (mph-split-1-usb6', ' Average windspeed (mph-split-2-usb6'] + weather.columns[3:-3].tolist()]

# Split  Average gustspeed (mph on "'"
weather[[' Average gustspeed (mph-split-0-gzlq', ' Average gustspeed (mph-split-1-gzlq', ' Average gustspeed (mph-split-2-gzlq']] = weather[' Average gustspeed (mph'].str.split("'", n=-1, expand=True)
weather = weather[weather.columns[:4].tolist() + [' Average gustspeed (mph-split-0-gzlq', ' Average gustspeed (mph-split-1-gzlq', ' Average gustspeed (mph-split-2-gzlq'] + weather.columns[4:-3].tolist()]

# Split  Average direction (°deg on "'"
weather[[' Average direction (°deg-split-0-m1gp', ' Average direction (°deg-split-1-m1gp', ' Average direction (°deg-split-2-m1gp']] = weather[' Average direction (°deg'].str.split("'", n=-1, expand=True)
weather = weather[weather.columns[:5].tolist() + [' Average direction (°deg-split-0-m1gp', ' Average direction (°deg-split-1-m1gp', ' Average direction (°deg-split-2-m1gp'] + weather.columns[5:-3].tolist()]

In [51]:
# Deleted columns  Average dewpoint (°F
weather.drop([' Average dewpoint (°F'], axis=1, inplace=True)

# Deleted columns  Average dewpoint (°F-split-0-4oq3
weather.drop([' Average dewpoint (°F-split-0-4oq3'], axis=1, inplace=True)

In [52]:
# Renamed columns avg_dewpoint_farenh
weather.rename(columns={' Average dewpoint (°F-split-1-4oq3': 'avg_dewpoint_farenh'}, inplace=True)

In [53]:
# Renamed columns avg_dewpoint_farenh
weather.rename(columns={' Average dewpoint (°F-split-1-4oq3': 'avg_dewpoint_farenh'}, inplace=True)

# Changed avg_dewpoint_farenh to dtype float
weather['avg_dewpoint_farenh'] = weather['avg_dewpoint_farenh'].astype(float)

In [54]:
# Deleted columns  Average dewpoint (°F-split-2-4oq3
weather.drop([' Average dewpoint (°F-split-2-4oq3'], axis=1, inplace=True)

# Deleted columns  Average barometer (in
weather.drop([' Average barometer (in'], axis=1, inplace=True)

# Deleted columns  Average barometer (in-split-0-vbfv
weather.drop([' Average barometer (in-split-0-vbfv'], axis=1, inplace=True)

In [55]:
# Changed  Average barometer (in-split-1-vbfv to dtype float
weather[' Average barometer (in-split-1-vbfv'] = weather[' Average barometer (in-split-1-vbfv'].astype(float)

In [56]:
# Renamed columns avg_barometer
weather.rename(columns={' Average barometer (in-split-1-vbfv': 'avg_barometer'}, inplace=True)

# Deleted columns  Average barometer (in-split-2-vbfv
weather.drop([' Average barometer (in-split-2-vbfv'], axis=1, inplace=True)

# Deleted columns  Average windspeed (mph
weather.drop([' Average windspeed (mph'], axis=1, inplace=True)

# Deleted columns  Average windspeed (mph-split-0-usb6
weather.drop([' Average windspeed (mph-split-0-usb6'], axis=1, inplace=True)

In [57]:
# Changed  Average windspeed (mph-split-1-usb6 to dtype float
weather[' Average windspeed (mph-split-1-usb6'] = weather[' Average windspeed (mph-split-1-usb6'].astype(float)

# Renamed columns avg_windspeed_mph
weather.rename(columns={' Average windspeed (mph-split-1-usb6': 'avg_windspeed_mph'}, inplace=True)

# Deleted columns  Average windspeed (mph-split-2-usb6
weather.drop([' Average windspeed (mph-split-2-usb6'], axis=1, inplace=True)

# Deleted columns  Average gustspeed (mph
weather.drop([' Average gustspeed (mph'], axis=1, inplace=True)

# Deleted columns  Average gustspeed (mph-split-0-gzlq
weather.drop([' Average gustspeed (mph-split-0-gzlq'], axis=1, inplace=True)

# Changed  Average gustspeed (mph-split-1-gzlq to dtype float
weather[' Average gustspeed (mph-split-1-gzlq'] = weather[' Average gustspeed (mph-split-1-gzlq'].astype(float)

# Deleted columns  Average gustspeed (mph-split-2-gzlq
weather.drop([' Average gustspeed (mph-split-2-gzlq'], axis=1, inplace=True)

# Deleted columns  Average direction (°deg
weather.drop([' Average direction (°deg'], axis=1, inplace=True)

# Deleted columns  Average direction (°deg-split-0-m1gp
weather.drop([' Average direction (°deg-split-0-m1gp'], axis=1, inplace=True)

In [59]:
# Changed  Average direction (°deg-split-1-m1gp to dtype float
weather[' Average direction (°deg-split-1-m1gp'] = weather[' Average direction (°deg-split-1-m1gp'].astype(float)

# Renamed columns avg_direction_deg
weather.rename(columns={' Average direction (°deg-split-1-m1gp': 'avg_direction_deg'}, inplace=True)

# Renamed columns avg_gustspeed_mph
weather.rename(columns={' Average gustspeed (mph-split-1-gzlq': 'avg_gustspeed_mph'}, inplace=True)

# Deleted columns  Average direction (°deg-split-2-m1gp
weather.drop([' Average direction (°deg-split-2-m1gp'], axis=1, inplace=True)

In [60]:
# Split  Rainfall for month (in on "'"
weather[[' Rainfall for month (in-split-0-xqa9', ' Rainfall for month (in-split-1-xqa9', ' Rainfall for month (in-split-2-xqa9']] = weather[' Rainfall for month (in'].str.split("'", n=-1, expand=True)
weather = weather[weather.columns[:1].tolist() + [' Rainfall for month (in-split-0-xqa9', ' Rainfall for month (in-split-1-xqa9', ' Rainfall for month (in-split-2-xqa9'] + weather.columns[1:-3].tolist()]

# Split Rainfall for year (in on "'"
weather[['Rainfall for year (in-split-0-hfdg', 'Rainfall for year (in-split-1-hfdg', 'Rainfall for year (in-split-2-hfdg']] = weather['Rainfall for year (in'].str.split("'", n=-1, expand=True)
weather = weather[weather.columns[:2].tolist() + ['Rainfall for year (in-split-0-hfdg', 'Rainfall for year (in-split-1-hfdg', 'Rainfall for year (in-split-2-hfdg'] + weather.columns[2:-3].tolist()]

# Split  Maximum rain per minute on "'"
weather[[' Maximum rain per minute-split-0-kxx5', ' Maximum rain per minute-split-1-kxx5', ' Maximum rain per minute-split-2-kxx5']] = weather[' Maximum rain per minute'].str.split("'", n=-1, expand=True)
weather = weather[weather.columns[:3].tolist() + [' Maximum rain per minute-split-0-kxx5', ' Maximum rain per minute-split-1-kxx5', ' Maximum rain per minute-split-2-kxx5'] + weather.columns[3:-3].tolist()]

# Split  Maximum temperature (°F on "'"
weather[[' Maximum temperature (°F-split-0-4q48', ' Maximum temperature (°F-split-1-4q48', ' Maximum temperature (°F-split-2-4q48']] = weather[' Maximum temperature (°F'].str.split("'", n=-1, expand=True)
weather = weather[weather.columns[:4].tolist() + [' Maximum temperature (°F-split-0-4q48', ' Maximum temperature (°F-split-1-4q48', ' Maximum temperature (°F-split-2-4q48'] + weather.columns[4:-3].tolist()]

# Split  Minimum temperature (°F on "'"
weather[[' Minimum temperature (°F-split-0-h0wq', ' Minimum temperature (°F-split-1-h0wq', ' Minimum temperature (°F-split-2-h0wq']] = weather[' Minimum temperature (°F'].str.split("'", n=-1, expand=True)
weather = weather[weather.columns[:5].tolist() + [' Minimum temperature (°F-split-0-h0wq', ' Minimum temperature (°F-split-1-h0wq', ' Minimum temperature (°F-split-2-h0wq'] + weather.columns[5:-3].tolist()]

In [61]:
# Deleted columns  Rainfall for month (in
weather.drop([' Rainfall for month (in'], axis=1, inplace=True)

# Deleted columns  Rainfall for month (in-split-0-xqa9
weather.drop([' Rainfall for month (in-split-0-xqa9'], axis=1, inplace=True)

# Renamed columns rainfall _for_month_inch
weather.rename(columns={' Rainfall for month (in-split-1-xqa9': 'rainfall _for_month_inch'}, inplace=True)

# Changed rainfall _for_month_inch to dtype float
weather['rainfall _for_month_inch'] = weather['rainfall _for_month_inch'].astype(float)

# Deleted columns  Rainfall for month (in-split-2-xqa9
weather.drop([' Rainfall for month (in-split-2-xqa9'], axis=1, inplace=True)

# Deleted columns Rainfall for year (in
weather.drop(['Rainfall for year (in'], axis=1, inplace=True)

# Deleted columns Rainfall for year (in-split-0-hfdg
weather.drop(['Rainfall for year (in-split-0-hfdg'], axis=1, inplace=True)

In [62]:
# Changed Rainfall for year (in-split-1-hfdg to dtype float
weather['Rainfall for year (in-split-1-hfdg'] = weather['Rainfall for year (in-split-1-hfdg'].astype(float)

# Renamed columns rainfall_for_year_inch
weather.rename(columns={'Rainfall for year (in-split-1-hfdg': 'rainfall_for_year_inch'}, inplace=True)

# Deleted columns Rainfall for year (in-split-2-hfdg
weather.drop(['Rainfall for year (in-split-2-hfdg'], axis=1, inplace=True)

# Deleted columns  Maximum rain per minute
weather.drop([' Maximum rain per minute'], axis=1, inplace=True)

# Deleted columns  Maximum rain per minute-split-0-kxx5
weather.drop([' Maximum rain per minute-split-0-kxx5'], axis=1, inplace=True)

# Changed  Maximum rain per minute-split-1-kxx5 to dtype float
weather[' Maximum rain per minute-split-1-kxx5'] = weather[' Maximum rain per minute-split-1-kxx5'].astype(float)

In [71]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3903 entries, 0 to 3902
Data columns (total 26 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   date                                   3903 non-null   object
 1    Minimum temperature (°F-split-0-h0wq  3903 non-null   object
 2    Minimum temperature (°F-split-1-h0wq  3903 non-null   object
 3    Minimum temperature (°F-split-2-h0wq  3903 non-null   object
 4    Maximum temperature_farenh            3903 non-null   object
 5   max_rain_per_minute                    3903 non-null   float64
 6   rainfall_for_year_inch                 3903 non-null   float64
 7   rainfall _for_month_inch               3903 non-null   float64
 8   avg_direction_deg                      3903 non-null   float64
 9   avg_gustspeed_mph                      3903 non-null   float64
 10  avg_windspeed_mph                      3903 non-null   float64
 11  avg_barometer                          3903 non-null   float64
 12  avg_dewpoint_farenh                    3903 non-null   float64
 13  avg_humidity_pct                       3903 non-null   float64
 14  temperature                            3903 non-null   object
 15   Minimum temperature (°F               3903 non-null   object
 16   Maximum humidity (%                   3903 non-null   object
 17   Minimum humidity (%                   3903 non-null   object
 18   Maximum pressure                      3903 non-null   object
 19   Minimum pressure                      3903 non-null   object
 20   Maximum windspeed (mph                3903 non-null   object
 21   Maximum gust speed (mph               3903 non-null   object
 22   Maximum heat index (°F                3903 non-null   object
 23  Date1                                  3903 non-null   object
 24   Month                                 3903 non-null   object
 25   diff_pressure                         3903 non-null   object
dtypes: float64(9), object(17)
memory usage: 792.9+ KB

In [68]:
# Deleted columns  Maximum rain per minute-split-0-kxx5
weather.drop([' Maximum rain per minute-split-0-kxx5'], axis=1, inplace=True)

# Changed  Maximum rain per minute-split-1-kxx5 to dtype float
weather[' Maximum rain per minute-split-1-kxx5'] = weather[' Maximum rain per minute-split-1-kxx5'].astype(float)

In [70]:
# Renamed columns max_rain_per_minute
weather.rename(columns={' Maximum rain per minute-split-1-kxx5': 'max_rain_per_minute'}, inplace=True)

# Deleted columns  Maximum rain per minute-split-2-kxx5
weather.drop([' Maximum rain per minute-split-2-kxx5'], axis=1, inplace=True)

# Deleted columns  Maximum temperature (°F
weather.drop([' Maximum temperature (°F'], axis=1, inplace=True)

# Deleted columns  Maximum temperature (°F-split-0-4q48
weather.drop([' Maximum temperature (°F-split-0-4q48'], axis=1, inplace=True)

# Renamed columns  Maximum temperature_farenh
weather.rename(columns={' Maximum temperature (°F-split-1-4q48': ' Maximum temperature_farenh'}, inplace=True)

# Deleted columns  Maximum temperature (°F-split-2-4q48
weather.drop([' Maximum temperature (°F-split-2-4q48'], axis=1, inplace=True)

In [72]:
# Deleted columns  Minimum temperature (°F
weather.drop([' Minimum temperature (°F'], axis=1, inplace=True)

# Deleted columns  Minimum temperature (°F-split-0-h0wq
weather.drop([' Minimum temperature (°F-split-0-h0wq'], axis=1, inplace=True)

# Changed  Minimum temperature (°F-split-1-h0wq to dtype float
weather[' Minimum temperature (°F-split-1-h0wq'] = weather[' Minimum temperature (°F-split-1-h0wq'].astype(float)

# Renamed columns min_temperature_farenh
weather.rename(columns={' Minimum temperature (°F-split-1-h0wq': 'min_temperature_farenh'}, inplace=True)

# Renamed columns max_temperature_farenh
weather.rename(columns={' Maximum temperature_farenh': 'max_temperature_farenh'}, inplace=True)

# Changed max_temperature_farenh to dtype float
weather['max_temperature_farenh'] = weather['max_temperature_farenh'].astype(float)

# Deleted columns  Minimum temperature (°F-split-2-h0wq
weather.drop([' Minimum temperature (°F-split-2-h0wq'], axis=1, inplace=True)

In [73]:
# Split  Maximum humidity (% on "'"
weather[[' Maximum humidity (%-split-0-iuxj', ' Maximum humidity (%-split-1-iuxj', ' Maximum humidity (%-split-2-iuxj']] = weather[' Maximum humidity (%'].str.split("'", n=-1, expand=True)
weather = weather[weather.columns[:1].tolist() + [' Maximum humidity (%-split-0-iuxj', ' Maximum humidity (%-split-1-iuxj', ' Maximum humidity (%-split-2-iuxj'] + weather.columns[1:-3].tolist()]

# Split  Minimum humidity (% on "'"
weather[[' Minimum humidity (%-split-0-q208', ' Minimum humidity (%-split-1-q208', ' Minimum humidity (%-split-2-q208']] = weather[' Minimum humidity (%'].str.split("'", n=-1, expand=True)
weather = weather[weather.columns[:2].tolist() + [' Minimum humidity (%-split-0-q208', ' Minimum humidity (%-split-1-q208', ' Minimum humidity (%-split-2-q208'] + weather.columns[2:-3].tolist()]

# Split  Maximum pressure on "'"
weather[[' Maximum pressure-split-0-hd7c', ' Maximum pressure-split-1-hd7c', ' Maximum pressure-split-2-hd7c']] = weather[' Maximum pressure'].str.split("'", n=-1, expand=True)
weather = weather[weather.columns[:3].tolist() + [' Maximum pressure-split-0-hd7c', ' Maximum pressure-split-1-hd7c', ' Maximum pressure-split-2-hd7c'] + weather.columns[3:-3].tolist()]

# Split  diff_pressure on "'"
weather[[' diff_pressure-split-0-he41', ' diff_pressure-split-1-he41', ' diff_pressure-split-2-he41']] = weather[' diff_pressure'].str.split("'", n=-1, expand=True)
weather = weather[weather.columns[:10].tolist() + [' diff_pressure-split-0-he41', ' diff_pressure-split-1-he41', ' diff_pressure-split-2-he41'] + weather.columns[10:-3].tolist()]

# Split  Month on "'"
weather[[' Month-split-0-oqho', ' Month-split-1-oqho', ' Month-split-2-oqho']] = weather[' Month'].str.split("'", n=-1, expand=True)
weather = weather[weather.columns[:9].tolist() + [' Month-split-0-oqho', ' Month-split-1-oqho', ' Month-split-2-oqho'] + weather.columns[9:-3].tolist()]

In [74]:
# Deleted columns Date1
weather.drop(['Date1'], axis=1, inplace=True)

# Split  Maximum heat index (°F on "'"
weather[[' Maximum heat index (°F-split-0-3396', ' Maximum heat index (°F-split-1-3396', ' Maximum heat index (°F-split-2-3396']] = weather[' Maximum heat index (°F'].str.split("'", n=-1, expand=True)
weather = weather[weather.columns[:7].tolist() + [' Maximum heat index (°F-split-0-3396', ' Maximum heat index (°F-split-1-3396', ' Maximum heat index (°F-split-2-3396'] + weather.columns[7:-3].tolist()]

# Split  Maximum gust speed (mph on "'"
weather[[' Maximum gust speed (mph-split-0-ienf', ' Maximum gust speed (mph-split-1-ienf', ' Maximum gust speed (mph-split-2-ienf']] = weather[' Maximum gust speed (mph'].str.split("'", n=-1, expand=True)
weather = weather[weather.columns[:6].tolist() + [' Maximum gust speed (mph-split-0-ienf', ' Maximum gust speed (mph-split-1-ienf', ' Maximum gust speed (mph-split-2-ienf'] + weather.columns[6:-3].tolist()]

# Split  Maximum windspeed (mph on "'"
weather[[' Maximum windspeed (mph-split-0-wtmh', ' Maximum windspeed (mph-split-1-wtmh', ' Maximum windspeed (mph-split-2-wtmh']] = weather[' Maximum windspeed (mph'].str.split("'", n=-1, expand=True)
weather = weather[weather.columns[:5].tolist() + [' Maximum windspeed (mph-split-0-wtmh', ' Maximum windspeed (mph-split-1-wtmh', ' Maximum windspeed (mph-split-2-wtmh'] + weather.columns[5:-3].tolist()]

# Split  Minimum pressure on "'"
weather[[' Minimum pressure-split-0-4ph0', ' Minimum pressure-split-1-4ph0', ' Minimum pressure-split-2-4ph0']] = weather[' Minimum pressure'].str.split("'", n=-1, expand=True)
weather = weather[weather.columns[:4].tolist() + [' Minimum pressure-split-0-4ph0', ' Minimum pressure-split-1-4ph0', ' Minimum pressure-split-2-4ph0'] + weather.columns[4:-3].tolist()]

# Deleted columns  diff_pressure-split-2-he41
weather.drop([' diff_pressure-split-2-he41'], axis=1, inplace=True)

# Deleted columns  diff_pressure
weather.drop([' diff_pressure'], axis=1, inplace=True)

In [75]:
# Deleted columns  Month-split-2-oqho
weather.drop([' Month-split-2-oqho'], axis=1, inplace=True)

# Deleted columns  diff_pressure-split-0-he41
weather.drop([' diff_pressure-split-0-he41'], axis=1, inplace=True)

# Renamed columns  diff_pressure
weather.rename(columns={' diff_pressure-split-1-he41': ' diff_pressure'}, inplace=True)

# Changed  diff_pressure to dtype float
weather[' diff_pressure'] = weather[' diff_pressure'].astype(float)

# Deleted columns  Month
weather.drop([' Month'], axis=1, inplace=True)

# Deleted columns  Maximum heat index (°F-split-2-3396
weather.drop([' Maximum heat index (°F-split-2-3396'], axis=1, inplace=True)

# Deleted columns  Month-split-0-oqho
weather.drop([' Month-split-0-oqho'], axis=1, inplace=True)

# Renamed columns month
weather.rename(columns={' Month-split-1-oqho': 'month'}, inplace=True)

# Changed month to dtype int
weather['month'] = weather['month'].astype(int)

In [76]:

# Deleted columns  Maximum heat index (°F
weather.drop([' Maximum heat index (°F'], axis=1, inplace=True)

# Deleted columns  Maximum gust speed (mph-split-2-ienf
weather.drop([' Maximum gust speed (mph-split-2-ienf'], axis=1, inplace=True)

# Deleted columns  Maximum heat index (°F-split-0-3396
weather.drop([' Maximum heat index (°F-split-0-3396'], axis=1, inplace=True)

# Renamed columns max_heat_index_farenh
weather.rename(columns={' Maximum heat index (°F-split-1-3396': 'max_heat_index_farenh'}, inplace=True)

# Renamed columns max_gust_speed_mph
weather.rename(columns={' Maximum gust speed (mph-split-1-ienf': 'max_gust_speed_mph'}, inplace=True)

# Changed max_heat_index_farenh to dtype float
weather['max_heat_index_farenh'] = weather['max_heat_index_farenh'].astype(float)

# Changed max_gust_speed_mph to dtype float
weather['max_gust_speed_mph'] = weather['max_gust_speed_mph'].astype(float)

# Deleted columns  Maximum gust speed (mph-split-0-ienf
weather.drop([' Maximum gust speed (mph-split-0-ienf'], axis=1, inplace=True)

In [77]:
# Deleted columns  Maximum gust speed (mph
weather.drop([' Maximum gust speed (mph'], axis=1, inplace=True)

# Deleted columns  Maximum windspeed (mph-split-2-wtmh
weather.drop([' Maximum windspeed (mph-split-2-wtmh'], axis=1, inplace=True)

# Renamed columns max_windspeed_mph
weather.rename(columns={' Maximum windspeed (mph-split-1-wtmh': 'max_windspeed_mph'}, inplace=True)

# Changed max_windspeed_mph to dtype float
weather['max_windspeed_mph'] = weather['max_windspeed_mph'].astype(float)

# Deleted columns  Maximum windspeed (mph-split-0-wtmh
weather.drop([' Maximum windspeed (mph-split-0-wtmh'], axis=1, inplace=True)

# Deleted columns  Maximum windspeed (mph
weather.drop([' Maximum windspeed (mph'], axis=1, inplace=True)

# Deleted columns  Minimum pressure-split-2-4ph0
weather.drop([' Minimum pressure-split-2-4ph0'], axis=1, inplace=True)

# Changed  Minimum pressure-split-1-4ph0 to dtype float
weather[' Minimum pressure-split-1-4ph0'] = weather[' Minimum pressure-split-1-4ph0'].astype(float)

# Renamed columns min_pressure
weather.rename(columns={' Minimum pressure-split-1-4ph0': 'min_pressure'}, inplace=True)

In [78]:
# Deleted columns  Minimum pressure-split-0-4ph0
weather.drop([' Minimum pressure-split-0-4ph0'], axis=1, inplace=True)

# Deleted columns  Minimum pressure
weather.drop([' Minimum pressure'], axis=1, inplace=True)

# Deleted columns  Maximum pressure-split-2-hd7c
weather.drop([' Maximum pressure-split-2-hd7c'], axis=1, inplace=True)

# Changed  Maximum pressure-split-1-hd7c to dtype float
weather[' Maximum pressure-split-1-hd7c'] = weather[' Maximum pressure-split-1-hd7c'].astype(float)

# Renamed columns max_pressure
weather.rename(columns={' Maximum pressure-split-1-hd7c': 'max_pressure'}, inplace=True)

# Deleted columns  Maximum pressure-split-0-hd7c
weather.drop([' Maximum pressure-split-0-hd7c'], axis=1, inplace=True)

# Deleted columns  Minimum humidity (%-split-2-q208
weather.drop([' Minimum humidity (%-split-2-q208'], axis=1, inplace=True)

# Deleted columns  Minimum humidity (%-split-0-q208
weather.drop([' Minimum humidity (%-split-0-q208'], axis=1, inplace=True)

In [81]:


# Changed  Minimum humidity (%-split-1-q208 to dtype float
weather[' Minimum humidity (%-split-1-q208'] = weather[' Minimum humidity (%-split-1-q208'].astype(float)

# Renamed columns min_humidity_pct
weather.rename(columns={' Minimum humidity (%-split-1-q208': 'min_humidity_pct'}, inplace=True)

# Deleted columns  Minimum humidity (%
weather.drop([' Minimum humidity (%'], axis=1, inplace=True)

# Deleted columns  Maximum humidity (%-split-2-iuxj
weather.drop([' Maximum humidity (%-split-2-iuxj'], axis=1, inplace=True)

# Renamed columns max_humidity_pct
weather.rename(columns={' Maximum humidity (%-split-1-iuxj': 'max_humidity_pct'}, inplace=True)

# Changed max_humidity_pct to dtype float
weather['max_humidity_pct'] = weather['max_humidity_pct'].astype(float)

# Deleted columns  Maximum humidity (%-split-0-iuxj
weather.drop([' Maximum humidity (%-split-0-iuxj'], axis=1, inplace=True)

# Deleted columns  Maximum humidity (%
weather.drop([' Maximum humidity (%'], axis=1, inplace=True)

# Renamed columns date_base
weather.rename(columns={'date': 'date_base'}, inplace=True)

In [82]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3903 entries, 0 to 3902
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   date_base                 3903 non-null   object
 1   min_pressure              3903 non-null   float64
 2   max_pressure              3903 non-null   float64
 3   max_windspeed_mph         3903 non-null   float64
 4   max_gust_speed_mph        3903 non-null   float64
 5   min_humidity_pct          3903 non-null   float64
 6   max_heat_index_farenh     3903 non-null   float64
 7   max_humidity_pct          3903 non-null   float64
 8   month                     3903 non-null   int64
 9    diff_pressure            3903 non-null   float64
 10  min_temperature_farenh    3903 non-null   float64
 11  max_temperature_farenh    3903 non-null   float64
 12  max_rain_per_minute       3903 non-null   float64
 13  rainfall_for_year_inch    3903 non-null   float64
 14  rainfall _for_month_inch  3903 non-null   float64
 15  avg_direction_deg         3903 non-null   float64
 16  avg_gustspeed_mph         3903 non-null   float64
 17  avg_windspeed_mph         3903 non-null   float64
 18  avg_barometer             3903 non-null   float64
 19  avg_dewpoint_farenh       3903 non-null   float64
 20  avg_humidity_pct          3903 non-null   float64
 21  temperature               3903 non-null   object
dtypes: float64(19), int64(1), object(2)
memory usage: 671.0+ KB

In [83]:
# Reordered column month
weather_columns = [col for col in weather.columns if col != 'month']
weather_columns.insert(1, 'month')
weather = weather[weather_columns]

In [84]:

# Sorted month in ascending order
weather = weather.sort_values(by='month', ascending=True, na_position='first')

# Renamed columns diff_pressure
weather.rename(columns={' diff_pressure': 'diff_pressure'}, inplace=True)

# Changed temperature to dtype float
weather['temperature'] = weather['temperature'].astype(float)

# Renamed weather to weather_corrected
weather_corrected = weather

# Formatted dataframes. View these styling objects to see the formatted dataframe
weather_corrected_styler = weather_corrected.head(1500).style\
    .format("{:.4f}", subset=['diff_pressure', 'min_pressure']).format("{:.3f}", subset=['max_pressure'])

In [85]:
weather_corrected.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3903 entries, 0 to 1951
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   date_base                 3903 non-null   object
 1   month                     3903 non-null   int64
 2   min_pressure              3903 non-null   float64
 3   max_pressure              3903 non-null   float64
 4   max_windspeed_mph         3903 non-null   float64
 5   max_gust_speed_mph        3903 non-null   float64
 6   min_humidity_pct          3903 non-null   float64
 7   max_heat_index_farenh     3903 non-null   float64
 8   max_humidity_pct          3903 non-null   float64
 9   diff_pressure             3903 non-null   float64
 10  min_temperature_farenh    3903 non-null   float64
 11  max_temperature_farenh    3903 non-null   float64
 12  max_rain_per_minute       3903 non-null   float64
 13  rainfall_for_year_inch    3903 non-null   float64
 14  rainfall _for_month_inch  3903 non-null   float64
 15  avg_direction_deg         3903 non-null   float64
 16  avg_gustspeed_mph         3903 non-null   float64
 17  avg_windspeed_mph         3903 non-null   float64
 18  avg_barometer             3903 non-null   float64
 19  avg_dewpoint_farenh       3903 non-null   float64
 20  avg_humidity_pct          3903 non-null   float64
 21  temperature               3903 non-null   float64
dtypes: float64(20), int64(1), object(1)
memory usage: 701.3+ KB

In [87]:
weather_corrected_1 = weather_corrected
for col in weather_corrected_1.columns:
    print(col)

date_base
month
min_pressure
max_pressure
max_windspeed_mph
max_gust_speed_mph
min_humidity_pct
max_heat_index_farenh
max_humidity_pct
diff_pressure
min_temperature_farenh
max_temperature_farenh
max_rain_per_minute
rainfall_for_year_inch
rainfall _for_month_inch
avg_direction_deg
avg_gustspeed_mph
avg_windspeed_mph
avg_barometer
avg_dewpoint_farenh
avg_humidity_pct
temperature

In [88]:
# sample dataframe with 10 years of day-to-day date-time data with the same year
weather_corrected_year = pd.DataFrame({'date': pd.date_range(start='2022-01-01', end='2033-07-31', freq='D')})

In [89]:
# define the function to change the year to a progressive year format
def update_year(date_time):
    year = date_time.year + date_time.dayofyear // 365
    return date_time.replace(year=year)

In [90]:
# apply the function to the date_time column
weather_corrected_year['date'] = weather_corrected_year['date'].apply(update_year)

# check the updated dataframe
print(weather_corrected_year.head())

        date
0 2022-01-01
1 2022-01-02
2 2022-01-03
3 2022-01-04
4 2022-01-05

,Unnamed: 0,date,month,temperature,avg_humidity_pct,avg_dewpoint_farenh,avg_barometer,avg_windspeed_mph,avg_gustspeed_mph,avg_direction_deg,...,max_temperature_farenh,min_temperature_farenh,max_humidity_pct,min_humidity_pct,max_pressure,min_pressure,max_windspeed_mph,max_gust_speed_mph,max_heat_index_farenh,diff_pressure
0,3651,2032-12-31,12,29.7,27.0,-0.4,30.3,13.1,19.2,233.0,...,36.1,19.2,39.0,21.0,30.449,30.127,27.6,41.4,36.1,0.322
1,3902,2032-09-07,12,10.3,52.0,-5.0,30.4,9.7,13.9,235.0,...,20.5,-11.0,80.0,32.0,30.635,30.172,23.0,33.4,20.5,0.463
2,3901,2032-09-06,12,9.5,67.0,0.5,30.0,2.0,3.7,283.0,...,22.9,-6.3,74.0,44.0,30.520,29.525,10.4,16.1,22.9,0.995
3,3900,2032-09-05,12,33.8,31.0,5.2,29.9,14.9,21.6,250.0,...,38.5,30.3,55.0,10.0,29.975,29.745,28.8,38.0,38.5,0.230
4,3899,2032-09-04,12,28.1,57.0,13.4,29.8,7.1,10.4,243.0,...,34.9,13.1,86.0,34.0,29.937,29.639,24.2,35.7,34.9,0.298
5,3898,2032-09-03,12,8.5,77.0,2.6,30.3,2.2,3.2,36.0,...,21.1,-1.4,82.0,66.0,30.554,29.939,10.4,11.5,21.1,0.615
6,3897,2032-09-02,12,19.1,61.0,6.7,30.0,6.3,9.2,252.0,...,36.8,-3.3,83.0,39.0,30.330,29.526,21.9,32.2,36.8,0.804
7,3896,2032-09-01,12,18.2,59.0,5.2,29.8,4.3,6.7,294.0,...,28.8,1.5,83.0,30.0,30.095,29.513,18.4,25.3,28.8,0.582
8,3895,2032-08-31,12,15.4,42.0,-4.5,30.2,9.6,13.8,247.0,...,23.2,0.7,80.0,27.0,30.289,30.028,23.0,32.2,23.2,0.261
9,3894,2032-08-30,12,17.1,36.0,-6.4,30.3,2.8,4.4,295.0,...,36.8,-0.2,59.0,19.0,30.511,29.938,18.4,26.5,36.8,0.573

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3903 entries, 0 to 3902
Data columns (total 23 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                3903 non-null   int64
 1   date                      3903 non-null   object
 2   month                     3903 non-null   int64
 3   temperature               3903 non-null   float64
 4   avg_humidity_pct          3903 non-null   float64
 5   avg_dewpoint_farenh       3903 non-null   float64
 6   avg_barometer             3903 non-null   float64
 7   avg_windspeed_mph         3903 non-null   float64
 8   avg_gustspeed_mph         3903 non-null   float64
 9   avg_direction_deg         3903 non-null   float64
 10  rainfall _for_month_inch  3903 non-null   float64
 11  rainfall_for_year_inch    3903 non-null   float64
 12  max_rain_per_minute       3903 non-null   float64
 13  max_temperature_farenh    3903 non-null   float64
 14  min_temperature_farenh    3903 non-null   float64
 15  max_humidity_pct          3903 non-null   float64
 16  min_humidity_pct          3903 non-null   float64
 17  max_pressure              3903 non-null   float64
 18  min_pressure              3903 non-null   float64
 19  max_windspeed_mph         3903 non-null   float64
 20  max_gust_speed_mph        3903 non-null   float64
 21  max_heat_index_farenh     3903 non-null   float64
 22  diff_pressure             3903 non-null   float64
dtypes: float64(20), int64(2), object(1)
memory usage: 701.4+ KB